:root {
    --color-inspector-element-type: #645d5d;
    --color-inspector-key: #e06c75;
    --color-inspector-node: #5c6370;
}
body { height: 100vh; }
h1 {
    font-size: 1.3em;
    margin: 0;
    text-align: right;
}
#editor {
    border-radius: .17em;
    height: 100%;
    overflow-x: scroll;
    white-space: pre;
    width: 100%;
}
.editor {
    border-radius: .17em;
    margin-right: 1em;
}
.editor,
.error,
.inspector { width: 50%; }
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.site {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2em);
    padding: 1em;
}
.split {
    display: flex;
    flex-grow: 1;
}

.error,
.inspector {
    background-color: var(--color-code-background);
    border-radius: .17em;
    color: var(--color-text);
    display: none;
    padding: 1em;
}
.error.active,
.inspector.active { display: unset; }
.comment {
    color: #0b9696;
    margin-left: .3em;
}
.element_type {
    color: var(--color-inspector-element-type);
    margin-left: .3em;
}
.key { color: var(--color-inspector-key); }
.node {
    margin-right: .3em;
    max-width: .9em;
    vertical-align: middle;
}
.no-fold { cursor: default; }
.value {
    color: var(--color-text);
    margin-left: .3em;
}

/* eno */
.eno-report {
    border: 1px solid var(--color-text);
    white-space: pre;
}
.eno-report-content { padding-left: 1em; }
.eno-report-gutter {
    background-color: rgba(128, 128, 128, .1);
    border-right: 1px solid var(--color-text);
    padding-right: 1em;
}
.eno-report-line { display: flex; }
.eno-report-line-emphasized { background-color: rgba(255, 0, 0, .4); }
.eno-report-line-indicated { background-color: rgba(255, 181, 0, .4); }
.eno-report-line-questioned { background-color: rgba(0, 210, 255, .4); }
