:root {
    --color-background: #fafafa;
    --color-background-transparent: rgba(250, 250, 250, .92);
    --color-code-background: #eaeaea;
    --color-link: #cca366;
    --color-link-faded: #796850;
    --color-sidebar: hsl(0, 0%, 95%);
    --color-text: #3f3f3f;
    --color-text-pop: #404040;
    --color-text-pop-plus: #111;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #151515;
        --color-background-transparent: rgba(21, 21, 21, .92);
        --color-code-background: hsl(0, 0%, 9.6%);
        --color-link: #bd8e6c;
        --color-link-faded: #bfac9d;
        --color-sidebar: hsl(0, 0%, 6%);
        --color-text: #cacaca;
        --color-text-pop: #ddd;
        --color-text-pop-plus: #fff;
    }
}
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/fira-mono-v8-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/barlow-semi-condensed-v5-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/barlow-semi-condensed-v5-latin-italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/barlow-semi-condensed-v5-latin-600.woff2') format('woff2');
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Barlow Semi Condensed';
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
}
body, select, textarea { font-size: 18px; }
a {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: none;
}
code {
    font-family: 'Fira Mono' !important;
    font-size: .9rem;
}
img { max-width: 100%; }
h1, h2, h3 { font-weight: 600; }
h1 { font-size: 1.6rem; }
h1 span.light { font-weight: 400; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.1rem; }
h1 img,
h2 img,
h3 img { padding-right: .5rem; }
pre {
    position: relative;
}
strong { font-weight: 600; }
textarea {
    background-color: var(--color-code-background);
    border: none;
    color: var(--color-text);
}
video { max-width: 100%; }
.body_padding {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}
.boundary {
    margin: 0 auto;
    max-width: 1280px;
}
.indented { padding-left: 1rem; }
.margin { margin: 1rem 0; }
.docs {
    display: flex;
    height: 100vh;
}
main {
    flex-grow: 1;
    min-width: 0;
    overflow-y: auto;
}
.main_boundary { margin: 4rem 0; }
.main_boundary > pre { padding: .5rem 2rem; }
.main_boundary > *:not(pre) {
    max-width: 32rem;
    padding: 0 3rem;
}
.next_page { margin-top: 2rem; }
nav {
    background-color: var(--color-sidebar);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1.2rem 3rem;
}
nav a { color: var(--color-link-faded) }
nav a.active {
    border-left: .2rem solid var(--color-text-pop-plus);
    left: -.8rem;
    padding-left: .6rem;
    position: relative;
}
nav a:hover { color: var(--color-text-pop-plus); }
nav span { margin-top: 2rem; }
.docs p code {
    background-color: var(--color-code-background);
    padding: .25rem;
}
.docs blockquote {
    background-color: #f8f0e8;
    margin: 0;
    padding: 1rem;
}
.docs blockquote p { margin: 0; }

ul { list-style: none; }

@media (max-width: 1279px) {
    .main_boundary { margin: 2rem 0; }
}

@media (max-width: 479px) {
    .docs { flex-direction: column-reverse; }
    .main_boundary { margin: 1rem 0; }
}

@media (min-width: 72rem) {
    .main_boundary > pre { padding-left: 3rem; }
    nav {
        padding-left: calc(50vw - 23rem);
        padding-top: 4rem;
    }
}

/**
 * prism.js eno dark theme
 * Based on One Dark (https://github.com/atom/atom/tree/master/packages/one-dark-syntax)
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color-text);
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection { background: #414651; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection { background: #414651; }

/* Code blocks */
pre[class*="language-"] {
    font-size: .9rem;
	padding: 1rem;
	margin: .5rem 0;
	overflow: auto;

    padding: 3rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--color-code-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1rem;
	border-radius: .3rem;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation { color: #5c6370; }

.token.namespace { opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted { color: #e06c75; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: #98c379; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string { color: #56b6c2; }

.token.atrule,
.token.attr-value,
.token.keyword { color: #c678dd; }

.token.function,
.token.class-name,
.language-eno .token.attribute-key { color: #61afef; }

.token.regex,
.token.important,
.token.variable { color: #d19a66; }

.token.important,
.token.bold { font-weight: bold; }
.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.language-eno .token.invalid {
	background-color: #e05252;
	color: #fff;
}
